# composer
composer.phar
/vendor/

# windows
Thumbs.db

# OSx
.DS_Store

# php-cs-fixer
.php_cs.cache
.php-cs-fixer.cache

# aliyun htttps validation
.well-known

# ctags extension
.tags

# laravel env
.env
